div #spinner-container {
    display: none;

    &:has(+ img.loading) {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
    }
}