
<div class="py-2 text-center">
    <span class="title text-4xl">Step 2: Select your Config and Options</span>
</div>
<div class="flex flex-row gap-2 my-2  justify-center"
    *ngIf="options; else LoadingOptions;">
    <div class="select-container">
        <label>Config:</label>
        <select
            id="configSelect"
            class="p-2"
            [formControl]="configSelect">
            <option [value]="-1">Choose...</option>
            <option *ngFor="let config of options?.configs"
                [value]="config.id">
                {{ config.description }}
            </option>
        </select>
    </div>
    <table class="table-container"
        *ngIf="configSelect.value !== -1 && configurator.config() !== undefined">
        <tr>
            <td>Range</td>
            <td>{{ configurator.config()!.range }} miles</td>
        </tr>
        <tr>
            <td>Max speed</td>
            <td>{{ configurator.config()!.speed }} mph</td>
        </tr>
        <tr>
            <td>Cost</td>
            <td>{{ configurator.config()!.price | currency:'USD' }}</td>
        </tr>
    </table>
    <div class="flex flex-col gap-1">
        <div class="checkbox-container" *ngIf="options.towHitch">
            <label for="includeTow" class="font-medium">Tow hitch?</label>
            <input id="includeTow" type="checkbox"
                [formControl]="towHitchControl">
        </div>
        <div class="checkbox-container" *ngIf="options.yoke">
            <label for="includeYoke" class="font-medium">Yoke steering
                wheel?</label>
            <input id="includeYoke" type="checkbox"
                [formControl]="yorkControl">
        </div>
    </div>
</div>
<ng-template #LoadingOptions>
    <div class="spinner"></div>
</ng-template>